<ion-header>
  <ion-toolbar>
    <ion-title>Activity {{myParam}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid *ngIf="activitySelector == 0">
    <ion-row>
      <ion-col *ngFor="let tile of tiles; let i = index;"
      size="1" style="border: 1px solid var(--color); height: 30px">
        <div class="tile-input" *ngIf="tile.editable"><span *ngIf="isTeacher">{{tile.value}}</span><input *ngIf="!isTeacher" class="act-inp-{{i}}" #box maxlength="1" (keyup)="updateBox($event, box.value, tile)" placeholder="{{tile.placeholder}}" /></div>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid *ngIf="activitySelector == 1">
    <div class="scrambled-header">Scrambled Word</div>
    <ion-row>
      <ion-col>
        <div class="scrambledWordContainer">{{scrambleWord}}</div>
      </ion-col>
    </ion-row>
    <ion-input class="scrambled-input" [(ngModel)]="guess"></ion-input>
  </ion-grid>

  <div class="ion-padding">
    <div class="ion-padding-bottom" *ngFor="let clues of activityQuestion; let i = index;">
      <div>{{i + 1}}. {{clues}}</div>
    </div>
  </div>
  <ion-button expand="block" class="ion-text-center" (click)="SubmitCrossword()" *ngIf="activitySelector == 0 && !isTeacher">Submit</ion-button>
  <ion-button expand="block" class="ion-text-center" (click)="SubmitLetters()" *ngIf="activitySelector == 1 && !isTeacher" [ngClass]="scambledSubmitIsDisable ?'isDisabled' : ''">Submit</ion-button>
</ion-content>
