.scrambled-header {
    text-align: center;
    margin: 10px 0px;
}

.scrambledWordContainer {
    text-align: center;
    font-size: 35px;
    padding: 15px 0px;
}

.scrambled-input {
    border: 1px solid var(--ion-color-primary);
    border-radius: 8px;
}