<ion-header>
  <ion-toolbar>
    <ion-grid>
      <ion-row class="ion-justify-content-between">
        <ion-col style="margin: auto">
          <ion-title>Lessons</ion-title>
        </ion-col>
        <ion-col class="ion-text-right" *ngIf="isAuthenticated">
          <ion-button size="small" (click)="Logout()">Logout</ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-header>

<ion-content class="center" >
  <ion-list>
    <ion-item *ngFor="let lessonlist of lessonList; let i = index" expand="full" color="light">
      <ion-button *ngIf="isTeacher" (click)="unlockLesson(i, lessonlist)"><i class="fa-solid fa-unlock"></i></ion-button>
      <ion-label [ngClass]="!lessonlist.lock ?'isDisabled' : ''" (click)="lessonNavigate(i, lessonlist.lock)">
        {{lessonlist.lesson}}
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
